p {
    background-color: lightgray;
    color: black;
    font-size: 2em;
    text-align: center;
    font-style: italic;
    font-family: 'ZCOOL XiaoWei', serif;
    text-decoration-style: dotted;
}