p {
    background-color: lightblue;
    color: darkblue;
    font-size: 2em;
    text-align: center;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}